@use "../../sass/variables" as *;
@use "../../sass/mixins/media-query" as *;

footer {
  width: 100%;
  padding: 0.5rem 2rem;
  background: linear-gradient(180deg, rgba(0, 225, 225, 0.25), gainsboro 70%);
}

footer ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer a {
  padding: 0;
}

footer button {
  cursor: pointer;
  fill: rgb(25, 25, 25);
  width: 2.4rem;
  height: auto;
}

footer button:focus {
  outline: 0.4rem solid grey;
}

footer ul > i {
  transform: rotate(180deg);
}
