@use "../../sass/variables.scss" as *;
@use "../../sass/mixins/media-query.scss" as *;

/*=====
  Nav
=======*/
nav {
  width: 100%;
}

.show-nav,
.hide-nav {
  transition: 0.3s;
}
.show-nav {
  transform: translate(0, 0);
}
.hide-nav {
  transform: translate(100%, 0);
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  justify-content: flex-end;

  @include mq(tablet) {
    width: 100%;
    height: 100%;
    justify-content: space-between;
  }
}

nav ul li {
  padding: 2rem;
  display: flex;
  width: fit-content;

  @include mq(large) {
    padding: 1rem;
  }
}

nav ul li a {
  clip-path: polygon(20% 0, 100% 0, 100% 80%, 80% 100%, 0 100%, 0 100%, 0 20%);
  box-shadow: inset 0 0 0.1rem 0.1rem rgba(0, 0, 0, 0.1);

  color: rgb(85, 26, 139);
  text-align: center;
  width: 10rem;
  font-size: 1.6rem;
  padding: 1.2rem;
  text-decoration: none;
  background-color: aliceblue;

  @include mq(medium) {
    padding: 1rem;
    font-size: 1.4rem;
  }
}

nav ul li a:hover {
  color: white;
  background-color: var(--brand-col);
  text-decoration: underline;
}
