@use "../../sass/mixins/media-query" as *;
@use "../../sass/variables" as *;

/*========================
  Carousel CSS Variables
==========================*/
:root {
  --carousel-width: 75vw; // 75
  --carousel-left: 150vw; // 150

  @media (max-height: 900px) {
    --carousel-width: 56vw; // 75
    --carousel-left: 112vw; // 150
  }

  @include mq(tablet) {
    --carousel-width: 100vw;
    --carousel-left: 200vw;
  }

  @include mq(small) {
    --carousel-width: 75vh; // 150vw;
    --carousel-left: 150vh; // 300vw;
  }
}

/*===================
  Images + Controls
=====================*/
.carousel-viewer {
  z-index: 50;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  position: relative;

  width: max-content;
  height: max-content;

  border: 1rem double aliceblue; //white;
  filter: drop-shadow(0 0.5rem 0.5rem darkslategrey);
  clip-path: polygon(0 50%, 100% 50%, 100% 50%, 0 50%); // <-- jsx

  @include mq(tablet) {
    margin-right: 0;
  }
}

.autoplay-controls {
  width: 4rem;
  height: 4rem;
  top: 1rem;
  right: 1rem;
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;

  @include mq(small) {
    right: 15%;
  }
}

/*======================
  Animation on Refresh
========================*/
.animate--carousel__clip-path {
  transition: 3s;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); // <-- jsx
}

/*=====================
  Carousel left/right
=======================*/
.carousel__navigators {
  z-index: 51;
  width: 100%;
  height: 25%;
  position: absolute;
  fill: lightgrey;

  display: flex;
  align-items: center;
  justify-content: space-between;

  @include mq(small) {
    justify-content: center;
    gap: 80vw;
  }
}

.carousel__navigators i {
  padding: 0 2vw;
  cursor: pointer;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  transition: 0.8s;
  width: 8vw;
}

.navigators i:hover {
  fill: rgb(0, 191, 255);
}

.navigators i:active {
  fill: rgb(255, 255, 255);
}

/*============================
  Carousel Ul: Image Content
==============================*/
.carousel {
  left: var(--carousel-left);

  width: var(--carousel-width);
  height: calc(var(--carousel-width) / 2);

  // max-width: 1920px;
  // max-height: 1280px;

  display: flex;
  position: relative;
  transition: 0.8s;
  transform: translate(0, 0);

  justify-content: center;
  align-items: center;
}

/*=====================
  Carousel Li: Layout
=======================*/
.carousel .carousel__img {
  width: inherit;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;

  // max-width: 1920px;
  // max-height: 1280px;
}

/*====================
  Carousel Li: Image
======================*/
.carousel__img img {
  width: inherit;
  height: auto;
  box-shadow: 0 0 0.05rem 0.05rem rgb(34, 58, 85);
  user-select: none;
}

/*=================================
  Carousel Illumnated PositionBar
===================================*/
.carousel__bar {
  gap: 2rem;
  z-index: 10;
  width: 50%;
  height: 0.5rem;
  position: absolute;
  bottom: 3rem;

  display: flex;
  justify-content: space-between;
}

.carousel__bar ul {
  width: 100%;
  list-style: none;
  color: white;
  font-size: 8vw;
  gap: 1rem;
  display: flex;
  align-items: flex-end;
}

.image-tab {
  margin: 0 0.25rem;
  padding: 0.2rem;
  position: relative;
  border-radius: 1rem;
  background-color: rgb(120, 134, 131);
  box-shadow: 0 0 1.5rem 0.05rem transparent;
  transition: 0.8s;
}

.illuminate-tab {
  background-color: rgb(205, 255, 236);
  box-shadow: 0 0 1.5rem 0.1rem rgb(62, 152, 255);
}
