/*======================
  CartWidget Container
========================*/
.cart-widget-cont {
  cursor: pointer;
  --basket-padding: 0.5rem;

  display: flex;
  position: relative;
  padding: var(--basket-padding);
  box-shadow: var(--style-box-shadow);

  background: linear-gradient(
    45deg,
    rgb(122, 122, 122),
    rgb(110, 109, 109),
    rgb(122, 122, 122)
  );

  clip-path: var(--clip-path);
}

/*=====================
  CartWidget: Counter
=======================*/
.cart-widget__counter {
  width: 100%;
  height: 100%;
  top: 0.6rem;
  left: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.5rem;
  font-family: "Bebas Neue", cursive;
}

.cart-widget__icon {
  fill: rgb(110, 110, 110);
  fill: rgb(255, 255, 255);
  fill: silver;
}

.icon {
  width: 3.3rem;
}
