/*===============
  Dropdown Menu
================*/
.dropdown {
  user-select: none;
  outline: 0.2rem solid var(--col-brand-main);

  li {
    font-size: 1.7rem;
    padding-left: 1rem;
    font-family: "Bebas Neue", cursive;
  }

  li:focus {
    outline: 0.4rem solid grey;
  }
}

.dropdown__icon-continer {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  clip-path: var(--clip-path);
  background: var(--brand-base-color);

  svg {
    fill: white;
  }
}

.dropdown-selected {
  display: flex;
  justify-content: space-between;
}

.dropdown-choice:hover,
.dropdown-choice:focus {
  color: white;
  background-color: black;
}
