@use "../../sass/variables" as *;
@use "../../sass/mixins/media-query" as *;

/*==================
  Main: LandingPage
 ===================*/
.main--landing {
  gap: 2rem;
  padding: 0;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  background: linear-gradient(180deg, rgb(0, 225, 225, 0.25), gainsboro 70%);

  padding-top: 3.5vh;

  justify-content: center;
  justify-content: space-between;

  align-items: center;
  flex-direction: column;

  p {
    z-index: 1;
    position: relative;
    overflow: scroll;
  }
}

.landing {
  overflow: scroll;
}

.landing__header {
  z-index: 15;
  height: 100vh;
  bottom: 0;
  padding: 0;
  border: none;
  position: fixed;
  background-color: transparent;

  ul {
    flex-wrap: nowrap;
    flex-direction: column-reverse;
  }
}

/*==============
  Action Button
 ===============*/
.landing__call-to-action {
  z-index: 10;
  position: relative;
  display: grid;
  align-items: center;
  justify-content: center;
  margin-bottom: 7vh;

  @include mq(tablet) {
    margin-bottom: 10vh;
  }
}
.landing__call-to-action:focus {
  background-color: black;
}

.h2-call-to-action {
  padding: 2rem;
  font-size: 2.4rem;
  background-color: aliceblue;
  transform: translate(0, -30vh);
  clip-path: polygon(2rem 0, 100% 0, 100% 100%, 0 100%, 0 4rem);
  // border-right: 0.5rem solid grey;
  transition: 0.3s;
}

.h2-call-to-action:hover {
  color: aliceblue;
  background-color: black;
}

/*============
  Background
 =============*/
.grid-container {
  z-index: 1;
  width: 100vw;
  height: 80vh;

  height: 120vh;

  position: fixed;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;

  outline: none;
  bottom: -15rem;
}

.grid-container__grid,
.grid-container__mask {
  height: 200rem;
  min-height: 200vh;
  position: absolute;
}

.grid-container__grid {
  outline: inherit;
  transform: rotate3d(2, -1, -1, 0);
}

.animate--grid__rotation {
  transition: 5s;

  transform: rotate3d(-0.5, 1, 2, 80deg);
  transition-timing-function: bezier(0.25, 0.75, 1, 1);
}

#svg-line-grid {
  outline: inherit;
  fill: transparent;
}

#svg-line-grid.animate--grid__fill {
  fill: grey;
  transition: 5s;
}

#svg-rect-sky,
#svg-rect-plane {
  fill: gainsboro;
  fill: transparent;
}

#svg-rect-sky {
  fill: transparent;
}

/*================
  Container Mask
 ================*/
.reveal {
  right: 0;
  position: absolute;
}

#mask {
  z-index: 3000;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: gainsboro;
}

#mask.animate--mask__transparency {
  transition: 1.2s;
  background-color: transparent;
}

#mask.animate--mask_z-index {
  z-index: -1;
}
