@use "../../sass/variables.scss" as *;
@use "../../sass/mixins/media-query.scss" as *;

/*=====================
  Main: Browse/Search
 ======================*/
.main--browse,
.main--search {
  gap: 1rem;
  height: 100%;
  position: relative;

  @include mq(small) {
    flex-direction: column;
  }
}

.section--browse,
.section--search {
  width: 100%;
  height: 80vh;
  padding: 1rem;

  gap: 2rem;
  display: flex;
  flex-direction: column;

  @include mq(tablet) {
    height: 75vh;
  }

  /* Product Results InfoBar */
  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;

    /* Product Results Category Heading */
    li {
      height: 2.5rem;
      display: flex;
      align-items: center;
      gap: 1rem;
      position: relative; //
    }

    /*Dropdown ListItem Container*/
    li:last-child {
      width: 18rem;
    }
  }

  box-shadow: 0 0 0.5rem 0.1rem rgb(228, 228, 228);
}

/*=====================
  Product Results View
 ======================*/
.product-results {
  gap: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));

  height: 100%;
  padding: 1rem;
  overflow-x: hidden;
  box-shadow: inset 0 0 1rem 0.1rem rgb(0, 0, 0, 0.2);
}
